/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 50px;
    margin-top: 50px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


/*CUSTOM*/

.carousel-control-prev,.carousel-control-next{
  color: #000000;
  width: 10%;
}.carousel-control-prev:focus,.carousel-control-next:focus{
  color: #000000;
}
.carousel-control-prev:hover,.carousel-control-next:hover{
  color: #000000;
}
.carousel-item{
  height: auto;
  background-color: #f5f5f5;
}
.carousel-item> .center>  img{
  min-width: 100%;
}
.center{
  float: none;
  margin:0px auto;
}
.rslides_tabs > li > a{
  background-color: #29c3df;
}
.rslides_tabs > li > a:hover{
  background-color: #a7a7a7;
}
.rslides_here > a{
  background-color: black!important;
}
.rslides img {
    height: 250px!important;
}
.contrast {
  -webkit-filter: contrast(150%);filter: contrast(150%);
}
.saturate {
  -webkit-filter: saturate(2); filter: saturate(2);
}
.shade{
  color:#000;
  font-family:Courier New;
}