/*  CUSTOM CSS  */
.block-content{
    padding: 0px;
    margin: 0px!important;
    text-align: center;
    border-top: medium none;
    font-size: 12px;
    margin-left: 10px;
    overflow: hidden;
}
.sidebar{
	margin: 5px 0;
	list-style: none;
}
.sidebar > li{
	padding: 10px 0px !important;
    list-style: none;
    border-bottom: 1px #ddd solid;
}
.sidebar > li > a{
	text-decoration: none;
	color: #000;
}
.sidebar > li.active{
	background-color:#e2e6e8;
    color: #fff;
    font-weight: bolder;
}
.no-padding{
	padding: 0px!important;
}
.no-margin{
	margin: 0px!important;
}
.logo-display{
    width:75%;
    float: none;
    margin: 0px auto;
    padding: 0px;
}    
.add-button{
    margin:15px 0px;
}
.logo-display > img{    
    border-radius: 10px;
    border:1px solid #CCCFD2;
    width: 100%;
    height: 160px;
    float: none;
    margin: 0px auto;
    margin: 10px 0px 10px 0px;
}
.logo-site{
    height: 285px!important;
    width: 405px!important;
}
.center{
    float: none;
    margin:0px auto;
}
.ran-logo {
    height: 250px!important;
}
.single-logo{
    width: 100%;
}
