/*SITE CUSTOM CSS*/
.logo-site{
    height: 285px!important;
    width: 405px!important;
}
.dark-wrapper{
    padding-top: 50px;
}
#download{
	display:none;
}
.background-parallax{
	background: url(../img/parallax2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	background-size: cover;
}
.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header{
	padding-top: 38px;
}
.overlay{
	background-color:rgba(46, 114, 173, 0.5);
	color: #fff;
}
.logo{
	color: rgb(125, 176, 253);
}
.download-div{
	padding-top: 50px;
    padding-bottom: 50px;
}
.less-width{
	width: 97%;
	margin: 0px auto;
	float: none;
}
.margin-bottom{
	margin-bottom: 20px;
}
.padding{
	padding: 30px;
}
.light{
	color: #70d7ff;
}
.light:hover{
	color: #fff;
}
small.portfolio-filter{
	font-size: 45px!important;
}
.tcenter{
	text-align: center;
    color: #fff;
}
.shade{
	color: #fff!important;
}
.no-padding{
	padding: 0px!important;
}
.slide1{
	background-color: #141414;
	width: 100%;
}
.slide2{
	background-color: #0d0d0d;
	width: 100%;
}
.slide3{
	background-color: #1c9cf2;
	width: 100%;
}
#contactform input,textarea{
	color: #fff!important;
    box-shadow: none!important;
    margin-bottom: 15px!important;
    background-color: rgba(31, 73, 115, 0.7)!important;
}
::placeholder{
	color: #fff!important;
}
/*
lightblue => #befff7
lightmaroox => #ff217b
lightyellow => #fff68d
*/