/*-----------------------------------------------------------------------------------*/
/*	TABLE OF CONTENTS
/*-----------------------------------------------------------------------------------*/

/* Tides - v1.0.0 */
/* Section 1. -- General & Global Styles - other type styles found in /css/framework.css */
/* Section 2. -- Helper Classes - quick classes for easy style modification */
/* Section 3. -- Header Styles - styles for main and sub headers */
/* Section 4. -- Navigation Styles - Styles for the nav menu, and the filter menu for the portfolio */
/* Section 5. -- Homepage Styles - all styling for the main homepage elements, and also ebor_carousel styling */
/* Section 6. -- Portfolio Styles - all styling for both portfolio and portfolio-alt */
/* Section 7. -- Blog Styles - all the styling for all 3 blog layouts, and also the blog single pages */
/* Section 8. -- Contact Styles - contact page styles, including map */
/* Section 9. -- Footer Styles - Styles for footer and subfooter */
/* Section 10. -- Revolution Slider Styles - Custom styling for revolution slider, default styling is in /css/settings.css */
/* Section 11. -- Isotope Styles - required styles for isotope, no need to modify */
/* Section 12. -- Tabs & Accordions Styles - styling for tabs, side tabs and accordions */
/* Section 13. -- Responsive Styles - Media queries */


/*-----------------------------------------------------------------------------------*/
/*	GENERAL & GLOBAL STYLES
/*-----------------------------------------------------------------------------------*/

body {
	/*overflow:  hidden;*/
		height: 100%;
	font-family: 'Raleway', sans-serif; font-weight: 300; overflow-x: hidden; line-height: 26px; font-size: 14px; color: #414141;
		background: url(../img/parallax2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1, h2, h3, h4, h5, h6, a {
	font-weight: 300;
	color: #7db0fd;
}

a{
	text-decoration: none!important;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #414141;
}

h1, h2, h3 {
	font-weight: 500;
}

a, .fa-6x {
	text-decoration: none; color: #e74c3c;
}

a:hover, .social a:hover {
	color: #c0392b;
}

p {
	margin-bottom: 25px;
}

.wrapper {
	margin: 0 auto; width: 960px; position: relative;
}

strong {
	font-weight: 500;
}

em {
	font-style: italic;
}

section, footer {
	padding: 50px 0 20px;
}

img {
	vertical-align: bottom;
}

::selection {
    background: #fefac7; /* Safari */
    color: #555555;
}
::-moz-selection {
    background: #fefac7; /* Firefox */
    color: #555555;
}

hr {
	height: 1px; width: 35px; background: #c7c7c7; border: none; margin-bottom: 30px;
}

code {
	background: #f5f5f5; padding: 2px 8px; border-radius: 2px; border: 1px solid #e5e5e5; color: #e74c3c; margin: 0 3px; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 12px;
}

pre {
	margin-bottom:30px;
}

pre code {
	background: none; padding: 0; border: none; font-family: monospace; color: #414141;
}

input, textarea, #load-more {
	width: 100%; background: none; border: 1px solid #e5e5e5; padding: 12px 15px; box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb; font-size: 14px; background: #fff;
}

input {
	margin-bottom: 10px;
}

input:focus, textarea:focus, input[type="submit"]:hover {
	border-color: #c7c7c7;
}

input[type="submit"] {
	width: auto; cursor: pointer; color: #a7a7a7;
}

input[type="submit"]:hover {
	color: #666;
}

textarea {
	min-height: 160px; resize: none; margin-bottom: 15px;
}

blockquote, pre, .tab-container div, .tab.active {
	margin-bottom: 25px; padding: 10px 20px; border: 1px solid #c7c7c7; box-shadow: 0 1px 1px #eaeaea; display: block; border-left: 3px solid #e74c3c;
}

blockquote p:last-child {
	margin-bottom: 0;
}

ol.numbered {
	list-style: decimal; margin: 0 0 25px 40px;
}

ul.unordered {
	list-style: square; margin: 0 0 25px 40px;
}

small {
	display: block;
	font-size: 20px;
}

.button {
	border-radius: 0;
}

.dark-wrapper {
	/*background-color: rgba(17, 33, 56, 0.5);*/
}

/*-----------------------------------------------------------------------------------*/
/*	END GENERAL & GLOBAL STYLES
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	HELPER CLASSES
/*-----------------------------------------------------------------------------------*/

.isotope-alt-details {
 -webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; -ms-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out;
}

.remove-bottom {
	margin-bottom: 0;
}

.floatleft, .floatright {
	display: inline-block;
}

.floatleft {
	float: left;
	color: rgb(125, 176, 253);
}

.floatright {
	float: right;
}

.small-padding {
    padding: 30px 0 30px;
}

/*.scroll-animate.left {
	position: relative; left: -50px; opacity: 0;
}*/

.scroll-animate.bottom {
	position: relative; bottom: -50px; opacity: 0;
}

/*.scroll-animate.right {
	position: relative; right: -50px; opacity: 0;
}*/

.scroll-animate.top {
	position: relative; top: -50px; opacity: 0;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.alert, .example-column {
	background: #f5f5f5; border: 1px solid #e5e5e5; padding: 5px 10px; margin-bottom: 4%;
}

.alert i {
	float: right; cursor: pointer; font-size: 18px; padding-top: 4px;
}

.alert.danger {
	background: #ffe5e3; color: #d90f00; border-color: #f9bbb8;
}

.alert.warning {
	background: #fff6d6; color: #a26025; border-color: #f8d867;
}

.alert.success {
	background: #cef0cb; color: #698733; border-color: #91cc8c;
}

.centered {
	text-align: center;
}

.light {
	font-weight: 300;
}

.heavy {
	font-weight: 500;
}

.break15 {
	width: 100%; height: 15px;
}

.overflow-hidden {
	overflow-x: hidden;
}

/*-----------------------------------------------------------------------------------*/
/*	END HELPER CLASSES
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	HEADER STYLES
/*-----------------------------------------------------------------------------------*/

header {
	padding: 25px 0;
	background: #fff;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 9999;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(100,100,100,0.2), inset 0 1px 0 #fbfbfb;
}

header * {
	margin-bottom: 0 !important;
}

#selectnav {
    float: right;
    padding-top: 26px;
}
#selectnav li {
	float: left; margin-left: 25px;
}

#selectnav li a {
	 color: #ffffff; text-transform: uppercase; font-weight: 500;
}

#selectnav li a.active, #selectnav li a:hover {
	color: rgb(125, 176, 253);
}

.header-small #selectnav {
	padding-top: 7px;
}

.logo-dark {
	display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	END HEADER STYLES
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	HOMEPAGE STYLES
/*-----------------------------------------------------------------------------------*/

#big-video-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 108px;
}

#big-video-vid {
	text-indent: -9999px;
}

#big-video-image {
	max-width: none;
}

/*.full {
	 width: 100%; height: 100%;
	background: url(../img/parallax.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
}

.gallery {
	padding-bottom: 0; padding-top: 108px;
}

.full * {
	color: #fff; font-weight: 300;
}

.full.video {
	background: none;
}*/

.big {
	width: 100%; height: auto;
	padding: 45px 0  10px 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	display: block;
}

.big * {
	color: #fff; font-weight: 300;
}

.button.white.light {
	background: none;
	color: #fff;
	border: 2px solid #fff;
	box-shadow: none;
	text-shadow: none;
	font-size: 22px;
	position: absolute;
	bottom: 50px;
	margin: 0;
	left: 50%;
	margin-left: -70px;
}

.mute {
	right: 20px;
	position: absolute;
	bottom: 20px;
	font-size: 28px;
}

h1.mega {
	position: relative;
	top: 50%;
	margin-top: -70px;
}

.big h1.mega {
	margin-top: -33px;
	color: #ffffff;
}

.big h1.mega.single {
	margin-top: 0;
}

.rslides h1.mega {
	position: absolute; z-index: 99;
	width: 100%; color: #fff; text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.service {
	text-align: center;
}

.member a {
	cursor: default;
}

/*-----------------------------------------------------------------------------------*/
/*	END HOMEPAGE STYLES
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	PORTFOLIO STYLES
/*-----------------------------------------------------------------------------------*/

.isotope-alt-image div {
	position: absolute; bottom: 0; left: 0; display: none; background: rgba(35, 75, 113, 0.75); width: 100%; height: 100%; padding: 30px; color: #fff; text-align: left;
}

.isotope-alt-image div h4 {
	color: #fff; font-size: 30px;
}

.isotope-alt-image div h4 small {
	font-size: 16px;
}

.portfolio-isotope li {
	float: left; width: 33.3%; position: relative;
}

.portfolio-isotope li {
	margin-bottom: 30px; padding-right: 25px;
}

.portfolio-isotope li:hover .isotope-alt-details {
	opacity: 0; pointer-events: none;
}

.isotope-alt-details {
	text-align: center; position: absolute; bottom: 0; left: 0; width: 100%; padding-right: 25px;
}

.isotope-alt-details div {
	display: block;
    border-top: none;
    background: url(../img/logo-back.png) no-repeat center center ;
    background-size: cover;
    color: #fff;
}

.portfolio-isotope {
	width: 995px; margin-bottom: 10px;
}

.isotope-alt-details h4 {
	padding-top: 10px; 
}

.isotope-alt-details .meta {
	position: relative; padding-bottom: 13px; margin-bottom: 0;
}

.isotope-alt-image {
	position: relative; display: block; overflow: hidden; text-align: center;    box-shadow: 3px 2px 17px 0 #000000;
}

.isotope-alt-image img {
	width: 100%;
}

#load-more {
	width: 100%; text-align: center; font-size: 24px; cursor: pointer; background: #fff; display: block; margin-bottom: 30px; color: #414141;
}

#load-more:hover, #filters a:hover, #filters a.active {
	background-color: rgb(27, 65, 101, 0.2);
	border-color: #fff;
}

h3 small {
	display: inline-block; font-size: 14px; margin-left: 7px; color: #c7c7c7;
}

#filters a {
	padding: 7px 13px;
    box-shadow: 0 2px 9px #000000, inset 0 0px 0 #fbfbfb;
    margin: 0 0 0 5px;
    border: 1px solid transparent;
    color: #ffffff;
    background-color: rgb(27, 65, 101, 1);
}

#loader {
	opacity: 0; position: relative; bottom: -50px; max-width: 770px; width: 90%;
	margin: 0 auto;
}

.portfolio-close {
	position: absolute; display: block; width: 100%; text-align: center; margin-bottom: 20px; top: -55px; font-size: 44px; color: #c7c7c7;
}

.overflow-hidden article {
	position: relative; top: 50px;
}

/*-----------------------------------------------------------------------------------*/
/*	END PORTFOLIO STYLES
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	BLOG STYLES
/*-----------------------------------------------------------------------------------*/

article, .widget {
	border: 1px solid #e5e5e5; padding: 20px 25px; box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb; background: #fff;
}

.widget {
	margin-bottom: 25px;
}

.widget p:last-child, article p:last-child {
	margin-bottom: 0;
}

.widget.search {
	background: none; padding: 0; border: none; box-shadow: none;
}

article {
	padding: 0; margin-bottom: 50px;
}

article .content {
	padding: 20px 25px;
}

article .meta {
	padding: 15px 25px 15px; font-size: 12px; border-top: 1px solid #e5e5e5;
}

article .meta p {
	margin-bottom: 0;
}
/*-----------------------------------------------------------------------------------*/
/*	END BLOG STYLES
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	FOOTER STYLES
/*-----------------------------------------------------------------------------------*/

footer {
	border-top: 1px solid #e5e5e5; padding: 45px 0;
}

.social a {
	font-size: 32px; margin: 0 10px; color: #c7c7c7;
}

/*-----------------------------------------------------------------------------------*/
/*	END FOOTER STYLES
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	RESPONSIVE STYLES
/*-----------------------------------------------------------------------------------*/

@media only screen and (min-width: 1180px) {

	.wrapper { 
		width:1180px; position:relative;
	}
	
	.portfolio-isotope {
		width: 1215px;
	}
	
}

@media only screen and (max-width: 1180px) {

	#selectnav li {
		float: left; margin-left: 15px;
	}
}

/* Standard 960 or larger (browsers) */
@media only screen and (min-width: 960px) {}

/* Standard 960 or Smaller (browsers) */
@media only screen and (max-width: 959px) {

	#selectnav { display: none; }
	.selectnav { display: block; }
	.portfolio-isotope li {
		width: 49.8%;
	}
	
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

	.wrapper { 
		width:768px; position:relative;
	}
	
	.portfolio-isotope {
		width: 803px;
	}

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	.wrapper { width:479px; margin: 0 auto; position:relative; }
	
	.one_half, .one_third, .two_thirds, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth, .three_fourths { width: 100%; }
	
	#comments li ul {
		padding-left: 0px;
	}
	
	.portfolio-isotope {
		width: 509px;
	}
	
	h1.mega {
		font-size: 44px;
	}
	
	header .one_fourth, header .three_fourths {
		width: 50%; margin: 0;
	}
	
	.big h1.mega {
		margin-top: -10px;
	}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	.wrapper { width:300px; margin: 0 auto; position:relative; }
	
	.portfolio-isotope li {
		width: 100%;
	}
	
	.portfolio-isotope {
		width: 325px;
	}
	
}

/*-----------------------------------------------------------------------------------*/
/*	END RESPONSIVE STYLING
/*-----------------------------------------------------------------------------------*/